.task{
    border: 1px solid grey;
    border-radius: 10px;
}

.tartalom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

article{
    display: grid;
    grid-gap: 10px;
}

.tasks{
    display: grid;
    grid-gap: 10px;
}

nav ul {
    display: grid;
    grid-template-columns: 100px 100px 140px 100px;
    grid-gap: 5px;
    padding: 0px;
}
nav ul li {
    padding: 3px 10px;
    border-radius: 5px;
    list-style-type: none;
    background-color: black;
    
}
nav ul a {
    text-decoration: none;
    color: white;
}