nav ul {
    display: grid;
    grid-template-columns: 100px 100px auto 100px;
    grid-gap: 5px;
    padding: 0px;
}
nav ul li {
    padding: 3px 10px;
    border-radius: 5px;
    list-style-type: none;
    background-color: black;
    
}
nav ul a {
    text-decoration: none;
    color: white;
}

article table, tr, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}